<div id="resource">
</div>


<script type=text/javascript>

    $(document).ready(function() {

        $.ajax({
            type: "GET",
            url: "http://localhost:3001/people/1.xml",
            dataType: "xml",
            success: parseXml
        });

    });

    function parseXml(xml) {
        alert("ola");
        //find every Tutorial and print the author
        $(xml).find("text").each(function() {
            var title = $(this).attr('title');
            var text = $(this).find('text').text();
            var entity = $(this).find('entity').text();
            $("#resource").append("<p>" + text + "</p>");
            $("#resource").append("<p>" + entity + "</p>");
        });
    }


</script>