<h1>Search</h1>

<script type=text/javascript>

    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: "http://localhost:3000/services/people/search?keyword=joao",
            dataType: "xml",
            success: parseList
        });
       $('.hidden').remove();
    });

    function parseList(xml) {

        $(xml).find("list").each(function() {

            $("#content").append("<p>Keyword: "+$(this).attr("title")+"</p><ul>");

            $(this).find("item").each(function() {
                $("#content").append("<li class='item' path="+$(this).attr('href')+">"+$(this).text()+"<p>"+$(this).attr("title")+"</p></li>");
            });

            $("#content").append("</ul>");

        });

    }

    $('.item').live('click', function(event) {
         alert("carrega benfica");
        getRecord($(this).attr('path'));
    });

</script>