<div id="homepage" class="current">
  <table>
    <tbody>
    <% counter = 0 %>
    <% @services.each do |service| %>
        <% if counter % 4 == 0 then %>
            <tr>
        <% end %>
        <td>
          <%= link_to image_tag("/images/gold-letter-c.jpg", :width => 57, :height => 57), "http://localhost:3000/services/"+service.serviceName %></td>
        <% counter = counter + 1 %>
        <% if (counter % 4 == 0) || (counter == @services.size) then %>
            </tr>
        <% end %>
    <% end %>

    </tbody>
  </table>
</div>