
<div id="theform">
    <div class="toolbar">
      <h1>FeedAPP</h1>
    </div>
    <ul id="prof_list" class="rounded list">
    </ul>
  </div>




                     <div id="xml_content" style="display:none">
                       <%=    @contents %>
                     </div>








  <script type=text/javascript>

    $.ajax({
    type: "GET",
    url: "http://localhost:3001/people.xml",
    dataType: "xml",
    success: parseXml
  });



    $(document).ready(function()
{
         <!-- parseXml($("#xml_content").text()); -->

});

    function parseXml(xml)
{
    console.log($(xml).find("Professor"));
  //find every Tutorial and print the author
  $(xml).find("Professor").each(function()
  {
    console.log("encontrou");
    $("#prof_list").append("<li>" + $(this).text() +"</li>");
  });
}


</script>