
<div id="theform">
    <div class="toolbar">
      <h1>FeedAPP</h1>
    </div>
    <ul id="prof_list" class="rounded list">
    </ul>
  </div>


  <script type=text/javascript>

     $.jQTouch({
        icon: 'jqtouch.png',
        statusBar: 'black-translucent',
        preloadImages: [
            'themes/jqt/img/chevron_white.png',
            'themes/jqt/img/bg_row_select.gif',
            'themes/jqt/img/back_button_clicked.png',
            'themes/jqt/img/button_clicked.png'
            ]
    });


    $.ajax({
    type: "GET",
    url: "http://localhost:3000/peoplelistrequest",
    dataType: "xml",
    success: parseXml
  });

    function parseXml(xml)
{
  //find every Tutorial and print the author
  $(xml).find("item").each(function()
  {
    $("#prof_list").append("<li>" + $(this).text() +"</li>");
  });
}


</script>