
<div id="theform">
    <div class="toolbar">
      <h1>FeedAPP</h1>
    </div>
    <ul id="prof_list" class="rounded list">
    </ul>
  </div>


  <script type=text/javascript>


  $.ajax({
    type: "GET",
    url: "http://localhost:3000/peoplelistrequest",
    dataType: "xml",
    success: parseXml
  });

    function parseXml(xml)
{
  //find every Tutorial and print the author
  $(xml).find("item").each(function()
  {
    $("#prof_list").append("<li class='arrow' >" + $(this).text() + "</li>");
  });
}


</script>